@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.assignment{
  text-align: center;
  padding-top: 200px;
}
.div-collab{
  min-height: 100vh;
  width: 100%;
  position: relative;
}
h2{
  text-align: center;
  padding-top: 50px;
}
h1{
  font-size: 3em;
  font-weight: 500;
  margin-bottom: 30px;
}
.text-box{
  margin-bottom: 20px;
}
.component{
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}
.text{
  flex-basis: 30%;
  margin-bottom: 5%;
  padding: 20px 25px;
  padding-left: 100px;
  transition: 0.5s;
} 
.img{
  flex-basis: 45%;
  margin-bottom: 5%;
  padding: 20px 25px;
  transition: 0.5s;
}

@media(max-width: 900px){
  .component{
      flex-direction: column;
  }
  .text, .img{
    padding-left: 30px;
    padding-right: 30px;
  }
}
.reveal{
  position: relative;
  transform: translateY(150px);
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
  opacity: 1;
}
a{
  text-decoration: none;
  color: blue;
}
a:hover{
  color: grey;
}

